* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  font-family: Verdana, sans-serif;
  color: #dcdcdc;
  font-size: 18px;
}

/* Tło i zaciemnienie */
.appContainer {
  width: 100%;
  height: 100vh; /* 100vh */
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stylowanie zdjęcia w tle */
.appContainer:before {
  content: "";
  background: url(./assets/background.jpg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Panel pogodowy */
main {
  display: flex;
  align-content: center;
  width: 80%;
  height: 98%;
  flex-direction: column;
  margin: 1rem;
}

/* Obramówki */
main,
.nextWeekForecast,
.timeUnitContainer,
.forecastContainer {
  border: 0.1em solid #ffff;
  border-radius: 25px;
  padding: 1rem;
}

/* v Panel wyszukiwania v */
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.searchBar > input {
  padding: 0.5rem 0.5rem;
  padding-left: 1rem;
  font-size: 1rem;
  border: 0.1em solid #ffff;
  border-radius: 25px;
  width: 100%;
}

.searchBar {
  width: 100%;
}

input:focus {
  outline: none;
  border: none;
}

aside > .forecastContainer,
.nextWeekForecast {
  height: 100%;
}

.nextWeekForecast {
  width: 80%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.todayForecast {
  width: 20%;
}

.weatherForecast {
  display: flex;
  padding: 0rem;
  justify-content: space-between;
  height: 100%; /* 100% */
  width: 100%;
  gap: 1rem;
}

/* v Data i czas v */

.dateTimeContainer {
  display: flex;
  flex-direction: column;
}

.date {
  display: flex;
  border-bottom: 0.1rem solid #ffff;
  padding-bottom: 0.2rem;
}

.time {
  display: flex;
  padding-top: 0.2rem;
}

/* ^ Data i czas ^ */

.timeUnitContainer {
  display: flex;
  gap: 1rem;
}

/* v Ikony i formatowanie danych v  */

.forecastContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 60%;
  width: 100%;
}

.location,
.temperature,
.humidity,
.windSpeed,
.windDirection {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}

.location > img,
.temperature > img,
.humidity > img,
.windSpeed > img,
.windDirection > img {
  height: 2rem;
  width: 2rem;
}
/* ^ Ikony i formatowanie danych ^  */

.forecastImage > img {
  height: 3rem;
  width: 3rem;
}

.minMaxTemps {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.maxTemp > img,
.minTemp > img {
  height: 2rem;
  width: 2rem;
}

.maxTemp,
.minTemp {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1775px) {
  .appContainer {
    width: 100%;
    height: 100%; /* 100vh */
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: 2rem;
    flex-direction: column;
  }

  .nextWeekForecast {
    flex-wrap: wrap;
    text-wrap: wrap;
    height: 100%;
    width: 70%;
  }

  .todayForecast {
    width: 30%;
    flex-wrap: wrap;
    text-wrap: wrap;
  }

  .searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }

  .searchBar > input {
    padding: 0.5rem 0.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    border: 0.1em solid #ffff;
    border-radius: 25px;
    width: 100%;
  }
}
